html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  font-size: 25px;
}

#movieView-3 {
  background-color: yellow;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

#movieView-4 {
  background-color: lightcoral;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

