@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Bio Tranan</h1>
</div>
@model List<BiotrananMVC.Models.Movie>

    @foreach (var movie in @Model)
{
    <h3>@movie.Title</h3>
}


