@model BiotrananMVC.Models.Reservation

<div class="text-center">
<h1 class="display-4">Reservera biljetter</h1>
<h2 class="display-4">>> @Model.Movie.Title <<</h2>
<h3 class="lead"><strong>Dag:</strong> @Model.MovieView.Date.ToShortDateString() <strong>Tid:</strong>
@Model.MovieView.Date.ToShortTimeString()</h3>
</div>


<form method="post" asp-controller="Home" asp-action="ConfirmReservation">
<div class="form-group">
<label>Namn:</label>
<input type="text" class="form-control" asp-for="CustomerName" />
</div>
<div class="form-group">
<label>Telefonnummer:</label>
<input type="text" class="form-control" asp-for="PhoneNumber" />
</div>
<div class="form-group">
<label>Välj hur många platser:</label>
<input type="number" class="form-control" asp-for="NumberOfSeats" />
</div>

<div class="form-group" hidden>
<label>Datum:</label>
<input type="date" class="form-control" asp-for="DateForReservation" />
</div>

<input type="hidden" asp-for="MovieViewId" value=@Model.MovieViewId />
<input type="hidden" asp-for="Movie.MoviePrice" value=@Model.Movie.MoviePrice />
<input type="hidden" asp-for="MovieView.Date" value=@Model.MovieView.Date />
<input type="hidden" asp-for="Movie.Title" value=@Model.Movie.Title />

<button type="submit" class="btn btn-primary">Reservera</button>
</form>

<h3>
<a asp-controller="Home" asp-action="UpcomingViews">Tillbaka</a>
</h3>














